<div class="ui two column divided grid">
  <div class="stretched row">
    <div class="column">
      <div class="ui segment">
        <form class="ui form" [formGroup]="tokenForm" novalidate>
          <div class="field">
            <label>Your</label>
            <input type="text" name="YourToken" formControlName="yourToken" placeholder="Token">
          </div>
          <div class="field">
            <label>Other</label>
            <input type="text" name="OtherToken" formControlName="otherToken" placeholder="Token">
          </div>
          <button class="ui button" [class.primary]="user === userState.SENDER" (click)="createPeer(true)">Create Sender</button>
          <button class="ui button" [class.primary]="user === userState.RECEIVER" (click)="createPeer()">Create Recipient</button>
          <button class="ui button" (click)="connect()">Connect</button>
        </form>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="field">
          <label>Other</label>
          <input type="file" name="file" (change)="addFile($event, peer)">
        </div>
        <video #video controls="true"></video>
      </div>
    </div>
  </div>
</div>
